.certification-link {
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;

  padding: 0;
  text-decoration: none;
}

.certification-link:hover {
  text-decoration: underline;
}

.certifications-container h2 {
  color: var(--color-primary-500);
}
