#logo {
  width: 16%;
  height: auto;
}

.logo-container {
  display: inline-block;
}

.logo-container a {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-container {
  margin-left: auto;
}
