.user-registration-wrapper .btn-secondary {
  background-color: #e8dfd6;
  border-color: #e8dfd6;
  color: #1b3e73;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  box-shadow: none;
}

.error,
#error-message,
#success-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #1b3e73;
}
